<ion-view title="Welcome!">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="ref-btn-hp">
      <a href = "#/signup" class="button button-assertive btn-hp" style="width: 100%; margin: 20px 0;">
        Inscription
      </a>
 
      <a href = "#/signin" class="button button-balanced  btn-hp" style="width: 100%; margin: 20px 0;">
        Connexion
      </a>

      <a class="button button-positive btn-hp" style="width: 100%; margin: 20px 0;" ng-click="loginFacebook()">
        Facebook connect
      </a>
        </div>
    </ion-content>
</ion-view>