<ion-view title="Sign Up">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content padding="true" class="has-header">
        <form>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="toi@domaine.com" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <span class="input-label">Mot de passe</span>
                    <input type="password" placeholder="Pensez à le sécuriser" ng-model="data.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Prénom</span>
                    <input type="text" placeholder="John" ng-model="data.firstname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Nom</span>
                    <input type="text" placeholder="Doe" ng-model="data.lastname">
                </label>
            </ion-list>
            <button class="button button-stable button-block" ng-click="signupEmail(data.email, data.password, data.firstname, data.lastname)">S'inscire</button>
        </form>
    </ion-content>
</ion-view>