
<ion-view view-title="Party">
  <ion-content class="padding">

<div class="list card" >
<h1>En soirée</h1>
  <ion-list>
      <ion-item ng-repeat="friend in friends | filter:{user_status:2}">
        <div class="item-avatar item-icon-right" type="item-text-wrap">
          <img ng-src="{{friend.face}}">
          <h2 >{{friend.name}}</h2>
          <p >à <b>{{friend.distance/1000}} km</b> <br />
          Lieux : <span ng-model="lieux">{{ lieux }}</span>
          </p>
          <i  class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
  </ion-list>
</div>

<div class="list card" >  
  <h1>A envie de sortir</h1>
  <ion-list>
      <ion-item ng-repeat="friend in friends | filter:{user_status:1}">
        <div class="item-avatar item-icon-right" type="item-text-wrap" >
          <img ng-src="{{friend.face}}">
          <h2 >{{friend.name}}</h2>
          <p >à <b>{{friend.distance/1000}} km</b></p>
          <i  class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
  </ion-list>
</div>

<div class="list card">
  <h1>Indisponible</h1>
  <ion-list>
      <ion-item ng-repeat="friend in friends | filter:{user_status:0}">
        <div class="item-avatar item-icon-right" type="item-text-wrap">
          <img ng-src="{{friend.face}}">
          <h2 >{{friend.name}}</h2>
          <p >à <b>{{friend.distance/1000}} km</b></p>
          <i  class="icon ion-chevron-right icon-accessory"></i>
        </div>
      </ion-item>
  </ion-list>
</div>


  </ion-content>
</ion-view>