<script>
  switch({{user.statut}}
  	case "type:0" : document.getElementById(statut).value = 0;
  	break;
  	case "type:1" : document.getElementById(statut).value = 1;
  	break;
   	case "type:2" : document.getElementById(statut).value = 2;
  	break;)
 </script>

<ion-view view-title="Compte">
  <ion-content>
    <ion-list>
    	<ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="{{user.face}}"> <!-- A changer -->
	        <h1>Mon Compte</h1>
	        <h2>NOM : {{user.name}}</h2>	     
	        <p> Statut : 
	        	<select id="statut">
	        		<option value = "type:0">Indisponible</option>
	        		<option value = "type:1">Envie de sortir</option>
					<option value = "type:2">En soirée</option>
	        	</select>
	        </p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/groupes">
	        <img ng-src="img/group.svg">
	        <h2>Groupes</h2>
	        <p>Gérer vos différents groupes de sortie.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/historique">
	        <img class="icon-system" ng-src="img/history.svg">
	        <h2>Historique</h2>
	        <p>Historique des sorties effectuées.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/gestioncompte">
	        <img ng-src="img/edit.svg">
	        <h2>Gestion de compte</h2>
	        <p>Modification du nom d'utilisateur, mot de passe ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/parametres">
	        <img ng-src="img/settings.svg">
	        <h2>Paramètres</h2>
	        <p>Paramètres de l'application.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/apropos">
	        <img ng-src="img/about.svg">
	        <h2>A propos</h2>
	        <p>Conditions générales d'utilisation, signaler un bug ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	     <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	       <button ng-click="logout()" class="button button-assertive">
			  Déconnexion
			</button>
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
