
<ion-view view-title="Compte">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-back-button>
		</ion-nav-back-button>
	</ion-nav-bar>
  <ion-content>
    <ion-list>
    	<ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <img ng-src="{{data.face}}"> <!-- A changer -->
	        <h1>Mon Compte</h1>
	        <h2>{{data.username}}</h2>	     

	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/param/groupes">
	        <img src="./img/group.png">
	        <h2>Groupes</h2>
	        <p>Gérer vos différents groupes de sortie.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/param/historique">
	        <img class="icon-system" src="./img/history.png">
	        <h2>Historique</h2>
	        <p>Historique des sorties effectuées.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/param/gestioncompte">
	        <img src="./img/account.png">
	        <h2>Gestion de compte</h2>
	        <p>Modification du nom d'utilisateur, mot de passe ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/param/parametres">
	        <img src="./img/settings.png">
	        <h2>Paramètres</h2>
	        <p>Paramètres de l'application.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/param/apropos">
	        <img src="./img/about.png">
	        <h2>A propos</h2>
	        <p>Conditions générales d'utilisation, signaler un bug ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	     <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	       <button click="logout()" class="button button-assertive">
			  Déconnexion
			</button>
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
