<ion-view view-title="Compte">
  <ion-content>
    <ion-list>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/groupes">
	        <img ng-src="{{chat.face}}"> <!-- A changer -->
	        <h2>Groupes</h2>
	        <p>Gérer vos différents groupes de sortie.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/historique">
	        <img ng-src="{{chat.face}}"> <!-- A changer -->
	        <h2>Historique</h2>
	        <p>Historique des sorties effectuées.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/gestioncompte">
	        <img ng-src="{{chat.face}}"> <!-- A changer -->
	        <h2>Gestion de compte</h2>
	        <p>Modification du nom d'utilisateur, mot de passe ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/parametres">
	        <img ng-src="{{chat.face}}"> <!-- A changer -->
	        <h2>Paramètres</h2>
	        <p>Paramètres de l'application.</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/apropos">
	        <img ng-src="{{chat.face}}"> <!-- A changer -->
	        <h2>A propos</h2>
	        <p>Conditions générales d'utilisation, signaler un bug ...</p>
	        <i class="icon ion-chevron-right icon-accessory"></i>
	    </ion-item>
	     <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
	        <h2 id='token'></h2>
	    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
