<ion-view view-title="Amis">
    <ion-nav-bar class="bar-assertive">
        <ion-nav-back-button></ion-nav-back-button>

        <ion-nav-buttons side="right" >
            <a class="ion-plus-circled" ng-click="openModal()" style="margin-top:12px; margin-right:15px "></a>
        </ion-nav-buttons>
    </ion-nav-bar>
 <ion-content ng-controller="MapController">
      <div id='map' data-tap-disabled="true"></div>
          <ion-list>
              <ion-item ng-repeat="friend in friends | orderBy:['-distance']">
                <div class="item-avatar item-icon-right" type="item-text-wrap">
                  <img ng-src="{{friend.face}}">
                  <h2 >{{friend.name}}</h2>
                  <p >à <b>{{friend.distance/250}} km</b></p>
                  <i  class="icon ion-chevron-right icon-accessory"></i>
                </div>
              </ion-item>
          </ion-list>

 </ion-content>
</ion-view>

<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Ajoute un(e) ami(e) !</h1>
            <a class="ion-close-circled" style="float:right" ng-click="closeModal()" style="margin-top:12px; margin-right:15px "></a>
        </ion-header-bar>
        <ion-content class="padding">
            <label class="item item-input">
                <input type="text" ng-model="mailInvite" placeholder="Mail de ton ami">
            </label>
            <button class="button button-block button-positive" ng-click="Invite(mailInvite)">Inviter</button>
            <hr>

            <div ng-repeat="Invitation in Invitations" class="margin-bottom:10px">
                <img src="{{Invitation.sender.face}}" style="width:50px;height:50px;float:left;border-radius:24px;"/>
                <p style="margin-top: 12px; float:left">
                    {{ Invitation.sender.first_name }} {{ Invitation.sender.last_name }}
                </p>
                <button class="button button-small button-positive" ng-click="AcceptInvit(Invitation.id, Invitation.sender.first_name, Invitation.sender.last_name)" style="float:right; margin-top:5px">Accepter</button>
                <div style="clear:both;"></div>
            </div>

        </ion-content>
    </ion-modal-view>
</script>