<ion-view view-title="Planning">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content>
        <div class="center ">
        <a class="button"  href="#">Mes événements</a>
        <a class="button" href="#">Mes invitations</a>
            <div class="border-bottom"></div>
            </div>
        <div></div>
        
        <div class="list card calendar" >
        <ion-list>
            <img class="avatar" ng-src="https://scontent-lhr3-1.xx.fbcdn.net/hprofile-xal1/v/t1.0-1/10169409_10203667934083627_5334830255517635990_n.jpg?oh=3f4b0caa4e8d1af180b50efb6630307b&oe=56C8ADD3" src="https://scontent-lhr3-1.xx.fbcdn.net/hprofile-xal1/v/t1.0-1/10169409_10203667934083627_5334830255517635990_n.jpg?oh=3f4b0caa4e8d1af180b50efb6630307b&oe=56C8ADD3">
             <div class="inner-con"> <p class="head"><strong>Maxence Henneron</strong> vous invite le 13 septembre à 16h</p>
            <p class="infos">Rendez-vous pour mes 20 ans</p>
                 </div>
        </ion-list>
        </div>
        
        
                <div class="list card calendar" >
        <ion-list>
            <img class="avatar" ng-src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/p160x160/11201927_10205943312454421_4159692603527382766_n.jpg?oh=01d5100abd2acef15e17e5afe9e555fa&oe=56951AAA&__gda__=1452542758_f09d8f40dd2c6cf658d3b59df9fa70d0" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/p160x160/11201927_10205943312454421_4159692603527382766_n.jpg?oh=01d5100abd2acef15e17e5afe9e555fa&oe=56951AAA&__gda__=1452542758_f09d8f40dd2c6cf658d3b59df9fa70d0">
            <div class="inner-con">   
            <p class="head"><strong>Adrien Chapelet</strong> vous invite le 13 septembre à 16h</p>
                <p class="infos">Rendez-vous pour mes 20 ans</p></div>
        </ion-list>
        </div>
        
                <div class="list card calendar" >
        <ion-list>
            <img class="avatar" ng-src="https://scontent-lhr3-1.xx.fbcdn.net/hprofile-xpa1/v/t1.0-1/p160x160/1471791_10202012699593144_1182098683_n.jpg?oh=36d2fc9f97bbf0dd3449bd192b8c175f&oe=56CE226C" src="https://scontent-lhr3-1.xx.fbcdn.net/hprofile-xpa1/v/t1.0-1/p160x160/1471791_10202012699593144_1182098683_n.jpg?oh=36d2fc9f97bbf0dd3449bd192b8c175f&oe=56CE226C">
              <div class="inner-con"> <p class="head"><strong>Sébastien Cockedey</strong> vous invite le 13 septembre à 16h</p>
                  <p class="infos">Rendez-vous pour mes 20 ans</p></div>
        </ion-list>
        </div>
        
        
                <div class="list card calendar" >
        <ion-list>
            <img class="avatar" ng-src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10305060_10203702976680133_9218228052457328560_n.jpg?oh=3418f1bf8e0a74fb956f7d017bdcf60f&oe=56C9F2A7" src="https://scontent-lhr3-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/10305060_10203702976680133_9218228052457328560_n.jpg?oh=3418f1bf8e0a74fb956f7d017bdcf60f&oe=56C9F2A7">
                <div class="inner-con"> <p class="head"><strong>Sébastien Merchez</strong> vous invite le 13 septembre à 16h</p>
                <p class="infos">Rendez-vous pour mes 20 ans</p>
            </div>
        </ion-list>
        </div>
    </ion-content>
</ion-view>
