<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Accueil" icon="accueil" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Friends Tab -->
  <ion-tab title="Amis" icon="friends" href="#/tab/map">
    <ion-nav-view name="tab-map"></ion-nav-view>
  </ion-tab>

  <!-- Planning Tab -->
  <ion-tab title="Planning" icon="planning" href="#/tab/planning">
    <ion-nav-view name="tab-planning"></ion-nav-view>
  </ion-tab>

  <!-- Chat Tab -->
  <ion-tab title="Chats" icon="chats" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Compte" icon="user" href="#/tab/account">
    <ion-nav-view ng-src="img/settings.svg" name="tab-account"></ion-nav-view>
  </ion-tab>

<!-- invitation Tab -->
  <ion-tab title="Invitation" icon="user" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>


</ion-tabs>
